.b-position-center-top {background-position: center top;}
.b-position-center {background-position: center center;} // default
.b-position-center-bottom {background-position: center bottom;}

.b-position-left-top {background-position: left top;}
.b-position-left-center {background-position: left center;}
.b-position-left-bottom {background-position: left bottom;}

.b-position-right-top {background-position: right top;}
.b-position-right-center {background-position: right center;}
.b-position-right-bottom {background-position: right bottom;}