$bp: get-breakpoint-name();
$grid-gutter-width: 30px;

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;  
  flex-wrap: wrap;
  // width: 100%;
  margin-right: -($grid-gutter-width/2);
  margin-left: -($grid-gutter-width/2);
}

// .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, 
// .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, 
// .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, 
// .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, 
// .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto 

.col, .col-10, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, 
.col-#{$bp}, .col-#{$bp}-1, .col-#{$bp}-10, .col-#{$bp}-11, .col-#{$bp}-12, .col-#{$bp}-2, .col-#{$bp}-3, 
.col-#{$bp}-4, .col-#{$bp}-5, .col-#{$bp}-6, .col-#{$bp}-7, .col-#{$bp}-8, .col-#{$bp}-9, .col-#{$bp}-auto {
  position: relative;
  width: 100%;
  padding-right: $grid-gutter-width/2;
  padding-left: $grid-gutter-width/2;
}

.col-2 {
  flex: 0 0 16.666665%;
  max-width: 16.666665%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  flex: 0 0 41.666665%;
  max-width: 41.666665%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  flex: 0 0 66.666665%;
  max-width: 66.666665%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 66.666665%;
  max-width: 66.666665%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: $breakpoint){

  .col-#{$bp}, .col {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-#{$bp}-2 {
    flex: 0 0 16.666665%;
    max-width: 16.666665%;
  }
  .col-#{$bp}-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-#{$bp}-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-#{$bp}-5 {
    flex: 0 0 41.666665%;
    max-width: 41.666665%;
  }
  .col-#{$bp}-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-#{$bp}-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-#{$bp}-8 {
    flex: 0 0 66.666665%;
    max-width: 66.666665%;
  }
  .col-#{$bp}-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-#{$bp}-10 {
    flex: 0 0 66.666665%;
    max-width: 66.666665%;
  }
}